* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background: #444;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background: #555;
}

section {
    padding: 2rem;
    text-align: center;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.menu-item{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}
    

.menu-item {
    width: 150px;

}

img{
    width: 90px;
    height: 90px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}